<div class="row">
  <div class="col-xl-4">
<app-card></app-card>
  </div>
  <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Cambiar Imagen</h4>
          <div class="text-center">
            <img *ngIf="!imgTemp" [src]="perfil.imagenUrl" alt="" class="img-thumbnail rounded-circle">
            <img *ngIf="" [src]="imgTemp" alt="" class="img-thumbnail rounded-circle">
            <div class="input-group">
              <input type="file" class="form-control" id="inputGroupFile04"
              aria-describedby="inputGroupFileAddon04" aria-label="Upload"
              (change)="preVisualizarImagen($event)">
              <button class="btn btn-success btn-block waves-effect waves-light" type="button"
              id="inputGroupFileAddon04"
              [disabled]="!imagenSubir" (click)="subirImagen()">
              cambiar Imagen
                </button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
