<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>

        <th class="align-middle">Paciente</th>
        <th class="align-middle">Medico</th>
        <th class="align-middle">Especialidad</th>
        <th class="align-middle">Fecha</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of consulta">

       
        <td>{{data.paciente.nombrePaciente}} {{data.paciente.apellidoPaciente}}</td>
        <td>{{data.medico.nombreMedico}} {{data.medico.apellidoMedico}}</td>
        <td>{{data.especialidad.nombreEspeciadad}}</td>
        <td>{{data.fechaConsulta}}</td>

      </tr>
    </tbody>
  </table>
