<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th style="width: 20px;">
          <div class="form-check font-size-16 align-middle">
            <input class="form-check-input" type="checkbox" id="transactionCheck01">
            <label class="form-check-label" for="transactionCheck01"></label>
          </div>
        </th>
        <th class="align-middle">ID</th>
        <th class="align-middle">Name</th>
        <th class="align-middle">Last Name</th>
        <th class="align-middle">Email</th>
        <th class="align-middle">Option</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of empleado">
        <td>
          <div class="form-check font-size-16">
            <input class="form-check-input" type="checkbox" id="transactionCheck{{data.index}}">
            <label class="form-check-label" for="transactionCheck{{data.index}}"></label>
          </div>
        </td>
        <td>
          <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
        </td>
        <td>{{data.nombre}}</td>
        <td>{{data.apellido}}</td>
        <td>{{data.email}}</td>
        <td>
          <!-- Button trigger modal -->
          
         <app-modal [empleado]="data" [leyenda]="'Editar'" ></app-modal>
        </td>
        <td>
          <!-- Button trigger modal -->

        </td>
      </tr>
    </tbody>
  </table>


  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Order Details</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p class="mb-2">
        Anime id:
        <span class="text-primary"></span>
      </p>
      <p class="mb-4">
        Name:
        <span class="text-primary"></span>
      </p>
     <div>

     </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</div>
<!-- end table -->
